<div class="card">
  <div class="card-header pt-0 pb-0">


    <div class="row">
      <div class="col ps-0">
        <span class="my-auto">
          <p class="text-right m-0"
            style="font-family:'IranNastaliq';font-size:large;font-weight: bolder;line-height:initial">
            سیستم معماری تمیز
          </p>
        </span>
      </div>
      <div class="col d-flex align-items-center justify-content-end ">


        <button class="btn btn-info btn-sm me-1" routerLink="/RegistrationDoctors" ngbPopover="سوپروایزر"
          popoverTitle="" placement="bottom" popoverClass="text-info" triggers="mouseenter:mouseleave">
          <img src="../../assets/Images/SuperUser.jpg" class="rounded-circle CustomImage" alt="Cinque Terre">
        </button>

      </div>
    </div>






  </div>
  <div class="card-body">
    <hr class="mx-auto w-100 d-none " />

    <div class="d-flex justify-content-center">
      <ngb-carousel *ngIf="Images" class="img-responsive d-block mx-auto ">
        <ng-template ngbSlide>
          <img [src]="Images[0]" alt="Random first slide" class="img-fluid">
          <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img [src]="Images[1]" alt="Random second slide" class="img-fluid">
        </ng-template>
        <ng-template ngbSlide>
          <img [src]="Images[2]" alt="Random third slide" class="img-fluid">
        </ng-template>
        <ng-template ngbSlide>
          <img [src]="Images[3]" alt="Random third slide" class="img-fluid">
        </ng-template>
      </ngb-carousel>
    </div>

    <hr class="mx-auto w-100 " />



    <hr class="mx-auto w-100 " />

    <div class="container-fluid" dir="ltr">
      <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="Itemslength" [maxSize]="5"
        (pageChange)="onPageChange(page)" [boundaryLinks]="true" [ellipses]="true"
        class="d-flex justify-content-center">
        <ng-template ngbPaginationFirst>اولین</ng-template>
        <ng-template ngbPaginationLast>آخرین</ng-template>
        <ng-template ngbPaginationPrevious>قبلی</ng-template>
        <ng-template ngbPaginationNext>بعدی</ng-template>
        <ng-template ngbPaginationEllipsis>...</ng-template>
        <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
      </ngb-pagination>

      <div class="container-fluid">
        <pre class="d-flex justify-content-left text-danger">صفحه جاری: {{page}}</pre>
      </div>
    </div>





  </div>




</div>