<div class="card">
  <div class="card-header pt-0 pb-0">
    <div class="row form-inline d-flex justify-content-end mt-0 ">
      <span class="ml-auto pt-2">
        <p class="text-right mr-2 ml-auto"
          style="font-family:'IranNastaliq';font-size:large;font-weight: bolder;line-height:initial">
          سیستم رزرواسیون
          پزشکان
        </p>
      </span>
      <button class="btn btn-info btn-sm ml-1" routerLink="/RegistrationDoctors" ngbPopover="ثبت نام پزشکان"
        popoverTitle="" placement="bottom" popoverClass="text-info" triggers="mouseenter:mouseleave">
        <img src="../../assets/VectorDoctor.jpg" class="rounded-circle CustomImage" alt="Cinque Terre">
      </button>
      <button class="btn btn-info btn-sm ml-1" routerLink="/RegistrationDoctors" ngbPopover=" ثبت نام بیمار"
        popoverTitle="" placement="bottom" popoverClass="text-info" triggers="mouseenter:mouseleave">
        <img src="../../assets/Patient.png" class="rounded-circle CustomImage" alt="Cinque Terre">
      </button>
      <button class="btn btn-info btn-sm ml-1" routerLink="/RegistrationDoctors" ngbPopover="ثبت نام منشی"
        popoverTitle="" placement="bottom" popoverClass="text-info" triggers="mouseenter:mouseleave">
        <img src="../../assets/SecretaryClip.png" class="rounded-circle CustomImage" alt="Cinque Terre">
      </button>
    </div>
  </div>
  <div class="card-body">
    <hr class="mx-auto w-100 d-none " />
    <!--
    <div class="row form-inline">
      <ngb-carousel *ngIf="Images" class="img-responsive d-block mx-auto">
        <ng-template ngbSlide>
          <img [src]="Images[0]" alt="Random first slide" class="img-fluid">
          <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img [src]="Images[1]" alt="Random second slide" class="img-fluid">
        </ng-template>
        <ng-template ngbSlide>
          <img [src]="Images[2]" alt="Random third slide" class="img-fluid">
        </ng-template>
        <ng-template ngbSlide>
          <img [src]="Images[3]" alt="Random third slide" class="img-fluid">
        </ng-template>
      </ngb-carousel>
    </div>
  -->

    <hr class="mx-auto w-100 " />

    <div class="row border border-info rounded-lg mt-1" *ngFor="let User of UserList">
      <!--<tr *ngFor="let item of items | slice: (page-1) * pageSize : page * pageSize" class="text-center">
            {{ item | json}}
          </tr>-->

      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4">
        <div *ngIf="User.imgBase64">
          <img [src]="'data:image/jpeg;base64,' + User.imgBase64" class="img-fluid mx-auto mt-3 d-block img-thumbnail" /><!--rounded-circle-->     
        </div>
        <div *ngIf="!User.imgBase64">
          <img src="../../assets/DoctorIcon.png" height="100px" width="100px" class="img-fluid mx-auto mt-4 d-block  rounded-circle img-thumbnail" />
        </div>
      </div>

      <div class="col-xl-10 col-lg-9 col-md-8 col-sm-8">
        <div class="text-right">
          <span class="text-info font-weight-bolder">نام:</span>
          <span class="text-muted font-weight-bolder">{{ User.name}}</span>
        </div>
        <div class="text-right">
          <span class="text-info font-weight-bolder">نام خانوادگی:</span>
          <span class="text-muted font-weight-bolder">{{ User.family}}</span>
        </div>
        <div class="text-right form-inline">
          <span class="text-info font-weight-bolder">تخصص:</span>
          <div *ngFor="let S of User.specializedInformationDoctors">
            <span class="text-muted font-weight-bolder">{{S.specialtyLevel.name}}</span>
          </div>
        </div>

        <div class="text-right form-inline">
          <span class="text-info font-weight-bolder">تلفن:</span>

          <div *ngFor="let DoctorOfficesList of User.doctorOffices">
            <div *ngFor="let P of DoctorOfficesList.phonesDoctorsOffices">
              <span class="text-muted font-weight-bolder">{{P.phone}}</span>
            </div>
          </div>

        </div>
        <div class="text-right form-inline">
          <span class="text-info font-weight-bolder">نوبت گیری:</span>
          <span class="text-muted font-weight-bolder">
            <button type="button" class="btn btn-outline-success" (click)="TurnTaking(User)">نوبت گیری آنلاین</button>
          </span>
        </div>
        <div class="text-right form-inline">
          <span class="text-info font-weight-bolder">آدرس:</span>
          <div *ngFor="let Do of User.doctorOffices">
            <span class="text-muted font-weight-bolder">{{Do.address}}</span>
          </div>
        </div>
      </div>
    </div>

    <hr class="mx-auto w-100 " />

    <div class="container-fluid" dir="ltr">
      <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="Itemslength" [maxSize]="5"
        (pageChange)="onPageChange(page)" [boundaryLinks]="true" [ellipses]="true"
        class="d-flex justify-content-center">
        <ng-template ngbPaginationFirst>اولین</ng-template>
        <ng-template ngbPaginationLast>آخرین</ng-template>
        <ng-template ngbPaginationPrevious>قبلی</ng-template>
        <ng-template ngbPaginationNext>بعدی</ng-template>
        <ng-template ngbPaginationEllipsis>...</ng-template>
        <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
      </ngb-pagination>

      <div class="container-fluid">
        <pre class="d-flex justify-content-left text-danger">صفحه جاری: {{page}}</pre>
      </div>
    </div>





  </div>




</div>