<header class="container-fluid p-0 bg-info.bg-gradient">
  <nav class="navbar navbar-expand-sm *fixed-top navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
    <div class="container-fluid">
      <!-- <a class="navbar-brand ms-5" asp-area="" asp-controller="Home" asp-action="Index">معماری تمیز</a> -->
      <a class="navbar-brand ms-5">معماری تمیز</a>

      <button class="btn btn-outline-warning" type="button" data-toggle="canvas" data-target="#bs-canvas-right"
        aria-expanded="false" aria-controls="bs-canvas-right">&#9776;</button>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#NavbarToggler"
        aria-controls="NavbarToggler">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="NavbarToggler">
        <ul class="navbar-nav flex-grow-1">
          <li class="nav-item">

            <a routerLink="/" class="nav-link" href="#">
              <i class="fa fa-home fa-lg"></i>
              خانه
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
          </li>
        </ul>

        <ul class="navbar-nav mr-auto">
          <div class="form-inline" *ngIf="IsLoggedIn()">
            <!--<form class="form-inline my-2 my-lg-0">-->
            <form class="my-2 my-lg-0">
              <img src="../assets/User.jpg" class="img-fluid rounded-circle" alt="User" width="40" height="40">
              <span> </span>
              <b>سلام</b>
              <span> </span>
              <span id="UserName"></span>
            </form>
            <li class="nav-item mr-auto">
              <a class="nav-link" href="javascript:void(0)" (click)="Logout()">
                <i class="fa fa-power-off fa-lg"></i>
                خروج
              </a>
            </li>
          </div>

          <li class="form-inline" *ngIf="!IsLoggedIn()">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a routerLink='/Login' class="nav-link" href="#">
                  <i class="fa fa-lg fa-sign-in"></i>
                  ورود
                </a>
              </li>
              <li class="nav-item active">
                <a routerLink="/Register" class="nav-link" href="#">
                  <i class="fa fa-user-circle fa-lg"></i>
                  ثبت نام
                </a>
              </li>
            </ul>
          </li>
        </ul>




      </div>
    </div>
  </nav>
</header>

<div id="bs-canvas-right" class="bs-canvas bs-canvas-anim bs-canvas-right position-fixed h-100 top-0">
  <header class="bs-canvas-header p-1 /*bg-primary*/ overflow-auto rounded-3" dir="rtl">
    <!-- <button type="button" class="bs-canvas-close float-left close" aria-label="Close"><span aria-hidden="true" class="text-light">&times;</span></button>
              <h4 class="d-inline-block text-light mb-0 float-right">Canvas Header</h4> -->

    <div class="carbon flex-wrapper">
      <img class="img-fluid rounded-circle rounded-3" src="../assets/Images/User.jpg" />
      <div class="inner-wrapper">
        <p class="text-white block text-truncate">مهرداد مهبد</p>
        <p class="text-white block text-truncate">اعتبار:</p>
      </div>
    </div>
  </header>
  <!-- <div class="container d-flex justify-content-center">
              <hr class="text-white w-100" />
          </div> -->

  <div class="bs-canvas-content px-3 /*py-5*/">
    <div id="SidebarWrapper">
      <ul class="SidebarNav nav-pills nav-stacked /*border*/ /*border-secondary*/ rounded-3 shadow position-relative"
        id="StaticMenu">
        <!-- @if (this.User.IsInRole("مدیر سیستم"))
                  {
                      @*<partial name="_AdminMenuPartial" />*@
                  } -->
      </ul>
      <ul class="SidebarNav nav-pills nav-stacked /*border*/ /*border-secondary*/ rounded-3 shadow position-relative"
        id="DynamicMenu">
        <!-- @{
                      <partial name="_LoadMenuForUserPartial" />
                  } -->
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid position-relative">
  <main role="main" id="MainRenderBody" class="ms-5 bg-light ">
    <router-outlet></router-outlet>
  </main>
</div>

<footer class="border-top footer text-muted">
  <!-- <div class="container">
          &copy; 2021 - MehrdadStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
      </div> -->
</footer>