/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: /*Roboto*/url(assets/Fonts/Yekan.ttf), "Helvetica Neue", sans-serif; }

/*SidebarWrapper*****************************************************************************************************************************/
#SidebarWrapper {
  direction: rtl;
  z-index: 1000;
  position: absolute;
  /*left: 250px;*/
  right: 240px;
  width: 0;
  height: 100%;
  margin-right: -250px;
  /*overflow-y: auto;*/
  /*background: #000;*/
  background-color: #343a40;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /*border-radius: 5px;*/
}
.SidebarNav {
  position: absolute;
  top: 0;
  width: 280px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 2px;
  height: auto;
}
  .SidebarNav li {
      /*text-indent: 17px;*/
      text-indent: 10px;
      line-height: 40px;
      /*Add by Mehrdad*/
      text-align: right;
      width: 250px;
  }
      .SidebarNav li a {
          display: block;
          text-decoration: none;
          /*color: #999999;*/
          color:#ffffff;
           /*color:#898989;*/
          /*Add By Mehrdad*/
          /*padding-right: 1%;*/
          padding-right: 0;
      }
          .SidebarNav li a:hover {
              text-decoration: none;
              /*color: #a7a7a7;*/
              color: #ff9900;
              /*color: #ffc800c4;*/
              /*background: rgb(34 102 161);*/
              /*background: rgb(122 122 122);*/
              background: rgb(62 62 62);
              /*border-left: red 2px solid;*/
              /*border-left: #ffa000 2px solid;*/
              border-radius: 3px;
              border-right: #ff8f00b0 2px solid;
              margin-right: -1px; /*برای جلوگیزی از پرش به سمت راست*/
          }
          .SidebarNav li a:active,
          .SidebarNav li a:focus {
              text-decoration: none;
          }
  .SidebarNav > .sidebar-brand {
      height: 65px;
      font-size: 18px;
      line-height: 60px;
  }
      .SidebarNav > .sidebar-brand a {
          color: #999999;
      }
          .SidebarNav > .sidebar-brand a:hover {
              color: #fff;
              background: none;
          }
/**********************************************************************************************************************************************/
 /*Sidebar Styles******************************************************************************************************************************/
 .sidebar-nav {
  /*این خط اگر فعال باشد منوهایی که از دیتابیس  فراخوانی می شوند کمی پایینتر قرار می گیرند.*/
  /*position: absolute;*/
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 2px;
}
  .sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
    /*Add by Mehrdad*/
    text-align: right;
  }
    .sidebar-nav li a {
      display: block;
      text-decoration: none;
      /*color: #999999;*/       
      /*color: #8c8c8c;*/
      color: #ffffff;
      /*Add By Mehrdad*/
      padding-right: 0%; /*برای این است که وقتی اسکرول شد متن ها از سمت راست فاصله داشته باشند*/
      /***************/
      /*Comment By Mehrdad*/
      /*border: 1px solid #f0f0f0;*/
      /*box-shadow: 1px 1px 1px #b7b7b7;*/
      margin-top: 1%;
      border-radius: 3px;
    }
      /*تغییر رنگ منوها*/
      .sidebar-nav li a:hover {
       transition:  .3s ;
        text-decoration: none;
        /*color: #fff;*/
        color: #757575;
        /*background: rgba(255,255,255,0.2);*/
        background :#ece8e8;
        /*border-left: #ffc107 2px solid;*/  
        width: auto;       
      }
      .sidebar-nav li a:active,
      .sidebar-nav li a:focus {
        text-decoration: none;
      }     
     /*nav-bar تغییر رنگ آیتم های بالایی*/
      a.nav-link{
       color:#ffffff
     }
     a.nav-link:hover{
       transition:.1s;
       /*color:#fbff00;*/
       color: #c4e0f1;
       border: 1px solid #d7ecf3;
       border-radius: 3px;
     }
  .sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
  }
    .sidebar-nav > .sidebar-brand a {
      color: #999999;
    }
      .sidebar-nav > .sidebar-brand a:hover {
        color: #fff;
        background: none;
      }
/***************************************************************************************************************************************/


/*navbar**************************************************************************************************************************************/
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  height: 56px;
  border-radius: 3px;
}
/************************************************************************************************************************************************/
.bs-canvas-overlay {
  opacity: 0;
  z-index: -1;
}
  .bs-canvas-overlay.show {
      opacity: 0.50;
      z-index: 1100;
  }
.bs-canvas {
  /*Comment By Mehrdad*/
  /*top: 0;*/
  /*top:9%;*/
  top: 58px;
  width: 0;
  z-index: 1110;
  overflow-x: hidden;
  overflow-y: hidden;
}
.bs-canvas-left {
  left: 0;
}
.bs-canvas-right {
  direction: ltr;
  right: 0;
  /*background-color: #343a40;*/
  /*background-color: #324148 !important;*/
  overflow-y: auto;
  /*------------------------------------------------------------------------------------------------------------------------------------*/
  /*background: #fc00ff;*/ /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);*/ /* Chrome 10-25, Safari 5.1-6 */
  /*background: radial-gradient(circle at left top, #711683, #113255)*/
  background: linear-gradient(225deg, #076ea2 0%, #953288 100%);
  /*-------------------------------------------------------------------------------------------------------------------------------------*/
  /*background: #171818;
  background: -webkit-radial-gradient(top, #171818, #4B4B4B);
  background: -moz-radial-gradient(top, #171818, #4B4B4B);
  background: radial-gradient(to bottom, #171818, #4B4B4B);*/
  /*-------------------------------------------------------------------------------------------------------------------------------------*/
  /*رنگ اصلی برداشته شده از سایت */
  /*www.w3schools.com/w3css/tryit.asp?filename=tryw3css_sidebar_animate*/
  /*background: radial-gradient(circle at center, #616161, #616168)*/
  /*رنگ اصلی*/
  background: #333 !important;
}
.bs-canvas-anim {
  transition: all .4s ease-out;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
}
/************************************************************************************************************************************************/
@media only screen and (min-width: 768px) { /*حداقل 768 و بزرگتر از این اندازه*/
  #bs-canvas-right {
    width: 50px;
  }
}
@media only screen and (max-width: 768px) { /*حداکثر 768 و کمتر از این اندازه*/
  #bs-canvas-right {
    width: 0px;
  }
}
/************************************************************************************************************************************************/
/*card*************************************************************************/
.card > a {
  color: unset;
  text-decoration: none;
}
.CustomCard {
  border: none;
}
.card-body > ul > li > a {
  color: unset;
  text-decoration: none;
}
  .card-body > ul > li > a:hover {
      color: forestgreen;
      font-weight: bold;
  }
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
@media (min-width: 576px) {
  .card-deck {
      display: flex;
      flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px;
  }
      .card-deck .card {
          flex: 1 0 0%;
          margin-right: 15px;
          margin-bottom: 0;
          margin-left: 15px;
      }
}
/************************************************************************************************************************************************/
 .CustomDiv {
  box-shadow: 1px 5px 10px #003163;
  border: 1px;
  border-radius: 3px;
}
 
/************************************************************************************************************************************************/
/***************************************************************************************/
.Link {
  /*height: 30px;
  padding-top: 4px;*/
  outline: none;
  /*font-size: large;
  font-weight: bold;*/
  border-radius: 3px;
  list-style: none;
  margin: 1px;
  /*border-bottom: 1px solid rgb(108 108 108/75%);*/
  /*border-top: 1px solid rgb(255 153 0 / 28%);*/
  /*border-top: 1px solid rgb(255 153 0);*/
}
  .Link:hover {
      border-radius: 3px;
  }
li > a.Link {
  /*width: 200px;*/
  width: 240px;
}
  /*تغییر رنگ آیکون های منوی سمت راست*/
  li > a.Link > i {
      /*color: #ff001b;*/
      /*color: #fb811b;*/
      /*color: #f91860;
      border: 1px solid #f0ff00;*/
      display: unset;
      margin-right: 3%;
  }

.R {
  border-top:none;
}
/*****************************************************************************************/

